<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="height=device-height, 
                      width=device-width, initial-scale=1.0, 
                      minimum-scale=1.0, maximum-scale=1.0, 
                      user-scalable=no, target-densitydpi=device-dpi"
    />
    <script src="{{ url_for('static', filename='js/components/stats-container.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/operation-ribbon.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/text-input.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/data-dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/button.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/spinner.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/icons.js') }}"></script>
    <script src="{{ url_for('static', filename='js/parseMoney.js') }}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/css/output.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/transition.css') }}"
    />
    <title>Acasa | Helion Finance</title>
  </head>
  <body>
    <div id="app-grid" class="flex">
      <aside id="sidenav" class="z-[999] col-span-1 fixed top-0 bottom-0">
        <!--    LG NAV  -->
        <div
          class="hidden lg:flex min-h-screen flex-col bg-clip-padding backdrop-filter backdrop-blur-lg border-2 border-gray-100 justify-between border-e bg-white"
        >
          <div class="px-4 py-6">
            <span
              class="grid h-10 w-32 place-content-center rounded-lg bg-gray-100 text-xs text-gray-600"
            >
              Helion Data
            </span>

            <ul class="mt-6 space-y-1 pb-2 border-b">
              <li>
                <a
                  href="/acasa"
                  class="block rounded-lg bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700"
                >
                  Acasa
                </a>
              </li>

              <li>
                <a
                  href="/tranzactii"
                  class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                >
                  Tranzactii
                </a>
              </li>

              <li>
                <a
                  href="/salariati"
                  class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                >
                  Salariati
                </a>
              </li>

              <li>
                <a
                  href="/inventar"
                  class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                >
                  Inventar
                </a>
              </li>
              <li>
                <a
                  href="/flota/"
                  class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                >
                  Flota
                </a>
              </li>
              <li>
                <a
                  href="/grafice/"
                  class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                >
                  Grafice
                </a>
              </li>
            </ul>

            <div class="border-t">
              <a
                href="/upload"
                class="cursor-pointer mt-5 inline-flex items-center gap-2 rounded border border-blue-600 bg-blue-600 px-8 py-3 text-white focus:outline-none focus:ring active:text-blue-500"
                id="uploadDocument"
              >
                <span class="text-sm font-medium"> Incarca document </span>

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-upload"
                  width="28"
                  height="28"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                  <path d="M7 9l5 -5l5 5"></path>
                  <path d="M12 4l0 12"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <!--    MD NAV  -->
        <div
          class="lg:hidden flex min-h-screen w-16 flex-col justify-between border-e bg-white"
        >
          <div>
            <div class="inline-flex h-16 w-16 items-center justify-center">
              <span
                class="grid h-10 w-10 place-content-center rounded-lg bg-gray-100 text-xs text-gray-600"
              >
                H.D.
              </span>
            </div>

            <div class="border-t border-gray-100">
              <div class="px-2">
                <div class="py-4">
                  <a
                    href="/acasa"
                    class="t group relative flex justify-center rounded bg-blue-50 px-2 py-1.5"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-home-2"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                      <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                      <path d="M10 12h4v4h-4z" />
                    </svg>

                    <span
                      class="absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white opacity-0 group-hover:opacity-100 pointer-events-none"
                    >
                      Acasa
                    </span>
                  </a>
                </div>

                <ul class="space-y-1 border-t border-b border-gray-100 py-4">
                  <li>
                    <a
                      href="/tranzactii"
                      class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-file-invoice"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                        <path
                          d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
                        ></path>
                        <path d="M9 7l1 0"></path>
                        <path d="M9 13l6 0"></path>
                        <path d="M13 17l2 0"></path>
                      </svg>

                      <span
                        class="absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white opacity-0 group-hover:opacity-100 pointer-events-none"
                      >
                        Tranzactii
                      </span>
                    </a>
                  </li>

                  <li>
                    <a
                      href="/salariati"
                      class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-users"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                        <path
                          d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"
                        ></path>
                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                        <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
                      </svg>

                      <span
                        class="absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white opacity-0 group-hover:opacity-100 pointer-events-none"
                      >
                        Salariati
                      </span>
                    </a>
                  </li>

                  <li>
                  <a
                    href="/inventar"
                    class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                  >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#6b7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="10" cy="20.5" r="1"/><circle cx="18" cy="20.5" r="1"/><path d="M2.5 2.5h3l2.7 12.4a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 2-1.6l1.6-8.4H7.1"/></svg>
                      <path
                        stroke="none"
                        d="M0 0h24v24H0z"
                        fill="none"
                      ></path>
                      <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                      <path
                        d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
                      ></path>
                      <path d="M9 7l1 0"></path>
                      <path d="M9 13l6 0"></path>
                      <path d="M13 17l2 0"></path>
                    </svg>

                    <span
                      class="absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white opacity-0 group-hover:opacity-100 pointer-events-none"
                    >
                      Inventar
                    </span>
                  </a>
                </li>
                <li>
                  <a
                    href="/flota/"
                    class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                  >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#6b7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M16.2 7.8l-2 6.3-6.4 2.1 2-6.3z"/></svg>
                      <path
                        stroke="none"
                        d="M0 0h24v24H0z"
                        fill="none"
                      ></path>
                      <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                      <path
                        d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
                      ></path>
                      <path d="M9 7l1 0"></path>
                      <path d="M9 13l6 0"></path>
                      <path d="M13 17l2 0"></path>
                    </svg>

                    <span
                      class="absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white opacity-0 group-hover:opacity-100 pointer-events-none"
                    >
                      Flota
                    </span>
                  </a>
                </li>
                <li>
                  <a
                    href="/grafice/"
                    class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                  >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#6b7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 3v18h18"/><path d="M18.7 8l-5.1 5.2-2.8-2.7L7 14.3"/></svg>
                      <path
                        stroke="none"
                        d="M0 0h24v24H0z"
                        fill="none"
                      ></path>
                      <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                      <path
                        d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
                      ></path>
                      <path d="M9 7l1 0"></path>
                      <path d="M9 13l6 0"></path>
                      <path d="M13 17l2 0"></path>
                    </svg>

                    <span
                      class="absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white opacity-0 group-hover:opacity-100 pointer-events-none"
                    >
                      Grafice
                    </span>
                  </a>
                </li>


                </ul>


                <div class="border-t py-4">
                  <a
                    href="/upload"
                    id="uploadDocument"
                    class="t group relative flex justify-center rounded bg-blue-700 px-2 py-1.5 text-white"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-upload"
                      width="28"
                      height="28"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path
                        d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"
                      ></path>
                      <path d="M7 9l5 -5l5 5"></path>
                      <path d="M12 4l0 12"></path>
                    </svg>

                    <span
                      class="absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white opacity-0 group-hover:opacity-100 pointer-events-none"
                    >
                      Incarca document
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <div
        id="app-content"
        class="fade-in col-span-4 p-12 flex-col grow ml-12 lg:ml-56"
      >
        <div class="top-content h-12 mb-10">
          <div class="header-row flex mb-2">
            <div class="page-icon mr-4">
              <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-home-2"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                      <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                      <path d="M10 12h4v4h-4z" />
                    </svg>
            </div>
            <h1 class="page-header text-lg font-medium">Acasa</h1>
          </div>
          <hr />
        </div>

        <div
          class="main-content grid lg:grid-cols-2 gap-10 grid-rows-3 lg:grid-rows-2"
        >
          <!--    STATS   -->
          <div
            class="bg-secundary min-h-96 max-h-[500px] rounded-lg p-8 bg-clip-padding backdrop-filter backdrop-blur-lg border-2 border-gray-100 bg-blue-100 bg-opacity-25"
          >
            <h2 class="text-2xl font-semibold mb-5">Sumar luna</h2>

            <div id="stats" class="row flex flex-col">
              <!--    PRICE CONTAINER -->
              <!-- <div class="stats-container mr-7 my-5 p-3 h-20 w-48 bg-blue-600 rounded-xl" stat-title="Balanta">
                            <h3 id="stats-container__title" class="text-xs font-medium tracking-wide text-white opacity-75">Balanta</h3>
                            <h3 id="stats-container__value" class="text-2xl font-bold text-white">1300 RON</h3>
                            
                        </div> -->

              <!--    PRICE CONTAINER -->
              <!-- <div class="stats-container mr-7 my-5 p-3 h-20 w-48 bg-emerald-400 rounded-xl" stat-title="Balanta">
                            <h3 class="text-xs font-medium tracking-wide text-white opacity-75">Intrari</h3>
                            <h3 class="text-2xl font-bold text-white">1300 RON</h3>
                            
                        </div> -->

              <!--    PRICE CONTAINER -->
              <!-- <div class="stats-container mr-7 my-5 p-3 h-20 w-48 bg-red-500 rounded-xl" stat-title="Balanta">
                            <h3 class="text-xs font-medium tracking-wide text-white opacity-75">Iesiri</h3>
                            <h3 class="text-2xl font-bold text-white">1300 RON</h3>
                            
                        </div> -->
              <div id="statsBalanta"></div>

              <div id="statsIntrari"></div>

              <div id="statsIesiri"></div>

              <!-- <script async>
                            

                            StatsContainer.create(
                                "blue-600",
                                "Balanta",
                                (async () => {
                                    return "1300"
                                })()
                            );

                            StatsContainer.create(
                                "emerald-400",
                                "Intrari",
                                (async () => {
                                    return "1201"
                                })()
                            );

                            StatsContainer.create(
                                "red-400",
                                "Iesiri",
                                (async () => {
                                    return "1200"
                                })()
                            );
                        </script> -->
            </div>
          </div>

          <!--    MOST RECENT ACTIVITIES  -->
          <div
            class="recents bg-secundary min-h-96 max-h-[500px] rounded-lg p-8 bg-clip-padding backdrop-filter backdrop-blur-lg border-2 border-gray-100 bg-blue-100 bg-opacity-25"
          >
            <h2 class="text-2xl font-semibold mb-10">Operatiuni recente</h2>

            <!--
                    Heads up! 👋

                    This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
                    -->
            <div id="recentTable"></div>

            <!-- <script async>
                        OperationsTable.create(
                            ['Firma', 'Data', 'Suma', 'Tip Operatiune'],
                            (async () => {
                                //  Await for a second to simulate a real request
                                await new Promise(resolve => setTimeout(resolve, 1000));

                                return [
                                    ["CAA SRL", "24-04-2022", "1200 RON", new OperationRibbon("intrare").element],
                                    ["CA2 SRL", "24-04-2022", "1200 RON", new OperationRibbon("iesire").element],
                                    ["CA3 SRL", "24-04-2022", "1200 RON", new OperationRibbon("intrare").element],
                                ];
                            })()
                        );
                    </script> -->
          </div>

          <!-- TABEL ANGAJATI -->
          <div
            class="bg-secundary min-h-96 max-h-[500px] overflow-auto rounded-lg p-8 bg-clip-padding backdrop-filter backdrop-blur-lg border-2 border-gray-100 bg-blue-100 bg-opacity-25"
          >
            <h2 class="text-2xl font-semibold mb-5">Solduri in banci</h2>

            <div id="tabelBanci"></div>
          </div>
        </div>
      </div>
    </div>
    <script async>
      let recentsTable = OperationsTable.create(
        "#recentTable",
        ["Data", "Firma", "Suma", "Tip Operatiune"],
        [[SpinnerElement]]
      );

      let contBancarTable = OperationsTable.create(
        "#tabelBanci",
        ["Banca", "Sold"],
        [[SpinnerElement]]
      );

      function addBanciEntry(data, table) {
        let nameInput = TextInput.create(
          null,
          "addBanca",
          "Nume banca",
          "Nume banca"
        );

        let soldInput = TextInput.create(
          null,
          "addSold",
          "Sold",
          "Sold",
          "number"
        );

        let addButton = IconButton.create(
          null,
          "gray-500",
          ADD_ICON,
          async () => {
            //  Functia asta va trimite datele catre server
            //  Trebuie sa verificam daca datele sunt valide

            let name = nameInput.value;
            let sold = soldInput.value;

            if (name == "" || sold == "") {
              alert("Va rugam sa completati toate campurile!");
              return;
            }

            //  Trimite datele catre server
            let response = await fetch("/api/cashflow/" + "add/cont", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                "Access-Control-Allow-Origin": "*",
              },
              body: JSON.stringify({
                banca: name,
                sold: sold,
              }),
            });
            let jsonData = await response.json();

            console.log(name, sold);

            //  Daca totul e ok, atunci adauga in tabel
            if (response["status"] == "Error") {
              alert("A aparut o eroare la adaugarea contului!");
              return;
            }

            async function deleteCont() {
              //  Functia asta va trimite datele catre server
              //  Trebuie sa verificam daca datele sunt valide

              //  Trimite datele catre server
              let response = fetch("/api/cashflow/" + "delete/contBancar", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                  "Access-Control-Allow-Origin": "*",
                },
                body: JSON.stringify({
                  banca: name,
                }),
              });

              let jsonData = await response.json();

              console.log(jsonData);

              //  Daca totul e ok, atunci sterge din tabel
              if (jsonData["status"] == "Error") {
                alert("A aparut o eroare la stergerea contului!");
                return;
              }

              data = data.filter((cont) => {
                console.log(cont[0], name);
                return cont[0] != name;
              });

              table.update(data);
            }

            async function updateContBancar(sold) {
              let body = {
                banca: name,
                sold: sold
              };

              const response = await fetch(
                '/api/cashflow/update/contBancar',
                {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Origin": "*",
                  },
                  body: JSON.stringify(body)
                }
              );

              let jsonData = await response.json();

              if(jsonData['status'] != "OK") {
                alert("ERROR");
              }

              //  Set the value
              newSoldInput.placeholder = sold;
              newSoldInput.value = '';

              //  Hide the button
              buttonHTML.classList.add('invisible');

            }
            
            //  Creeam un buton pentru a trimite noile date
            let updateSoldButton = IconButton.create(
              null,
              "blue-500",
              UPDATE_ICON,
              async () => {
                //  Send data
                let _sold = newSoldInput.value;

                await updateContBancar(_sold);
              }
            );
            let buttonHTML = updateSoldButton.htmlElement;

            //  Mai intai va fi hidden
            buttonHTML.classList.toggle("invisible");

            //  Creeam textField pentru suma, precum si un buton care va aparea onChange
            let newSoldInput = TextInput.create(
              null,
              "_newSoldInput",
              "Sold",
              `${sold}`,
              "number",
              false,
              null,
              () => {
                if (newSoldInput.value != "") {
                  buttonHTML.classList.remove("invisible");
                } else {
                  buttonHTML.classList.add("invisible");
                }
              }
            );

            data.pop();
            data.push([
              name,
              newSoldInput.htmlElement,
              buttonHTML,
              IconButton.create(null, "red-500", TRASH_ICON, deleteCont)
                .htmlElement,
            ]);

            table.update(data);

            //  Adauga inca un rand in tabel
            addBanciEntry(data, table);
          }
        );

        data.push([
          nameInput.htmlElement,
          soldInput.htmlElement,
          "", //  Empty for the sake of consistency
          addButton.htmlElement,
        ]);

        table.update(data);
      }

      let statsBalanta = StatsContainer.create(
        "#statsBalanta",
        "blue-600",
        "Balanta",
        "Loading..."
      );

      let statsIntrari = StatsContainer.create(
        "#statsIntrari",
        "emerald-400",
        "Intrari",
        "Loading..."
      );

      let statsIesiri = StatsContainer.create(
        "#statsIesiri",
        "red-400",
        "Iesiri",
        "Loading..."
      );

      async function getRecents() {
        const response = await fetch("/api/cashflow/" + "get/recents", {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
          },
        });

        let dataJSON = await response.json();
        let retData = dataJSON.map((item) => {
          return [
            `${item['zi']}-${item['luna']}-${item['an']}`, 
            item["firma"],
            item["suma"] + " RON",
            OperationRibbon(item["tip"]),
          ];
        });

        return retData;
      }

      async function getMonthData() {
        //  Get intrari
        let intrari = fetch("/api/cashflow/" + "get/intrari", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
          },
          body: JSON.stringify({
            luna: null,
            an: null,
            firma: null,
          }),
        })
          .then(async (response) => {
            let data = await response.json();
            return data;
          })
          .then((data) => {
            console.log(data);

            let sum = 0;
            Object.keys(data).forEach((key) => {
              sum += data[key]["suma"];
            });
            console.log("Intreari SUM: ", sum);
            return sum;
          });

        //  Get iesiri
        let iesiri = fetch("/api/cashflow/" + "get/iesiri", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
          },
          body: JSON.stringify({
            luna: null,
            an: null,
            firma: null,
          }),
        })
          .then(async (response) => {
            let data = await response.json();
            return data;
          })
          .then((data) => {
            console.log(data);

            let sum = 0;
            Object.keys(data).forEach((key) => {
              sum += data[key]["suma"];
            });
            return sum;
          });

        return [await intrari, await iesiri];
      }

      async function getConturiBancare() {
        const response = await fetch("/api/cashflow/" + "get/conturi", {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
          },
        });

        let jsonData = await response.json();

        let retData = jsonData.map((item) => {
          //  Trimite datele catre server
          async function deleteCont() {
            //  Functia asta va trimite datele catre server
            //  Trebuie sa verificam daca datele sunt valide

            let name = item["banca"];

            //  Trimite datele catre server
            const response = await fetch("/api/cashflow/" + "delete/contBancar", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                "Access-Control-Allow-Origin": "*",
              },
              body: JSON.stringify({
                banca: name,
              }),
            });

            let jsonData = await response.json();

            console.log(jsonData);

            //  Daca totul e ok, atunci sterge din tabel
            if (jsonData["status"] == "Error") {
              alert("A aparut o eroare la stergerea contului!");
              return;
            }
            let data = contBancarTable.entries;

            data = data.filter((cont) => {
              console.log(cont[0], name);
              return cont[0] != name;
            });

            contBancarTable.update(data);
          }

          async function updateContBancar(sold) {
            let body = {
              banca: item['banca'],
              sold: sold
            };

            const response = await fetch(
              '/api/cashflow/update/contBancar',
              {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                  "Access-Control-Allow-Origin": "*",
                },
                body: JSON.stringify(body)
              }
            );

            let jsonData = await response.json();

            if(jsonData['status'] != "OK") {
              alert("ERROR");
            }

            //  Set the value of newSoldInput
            newSoldInput.placeholder = sold;
            newSoldInput.value = '';

            //  Hide the button
            buttonHTML.classList.add('invisible');

          }

          //  Creeam un buton pentru a trimite noile date
          let updateSoldButton = IconButton.create(
            null,
            "blue-500",
            UPDATE_ICON,
            async () => {
              //  SEND DATA
              let sold = newSoldInput.value;
              await updateContBancar(sold);
            }
          );
          let buttonHTML = updateSoldButton.htmlElement;

          //  Mai intai va fi hidden
          buttonHTML.classList.toggle("invisible");

          //  Creeam textField pentru suma, precum si un buton care va aparea onChange
          let newSoldInput = TextInput.create(
            null,
            "_newSoldInput",
            "Sold",
            `${item["sold"]}`,
            "number",
            false,
            null,
            () => {
              if (newSoldInput.value != "") {
                buttonHTML.classList.remove("invisible");
              } else {
                buttonHTML.classList.add("invisible");
              }
            }
          );

          return [
            item["banca"],
            newSoldInput.htmlElement,
            buttonHTML,
            IconButton.create(null, "red-500", TRASH_ICON, deleteCont)
              .htmlElement,
          ];
        });

        return retData;
      }

      //  Render data
      async function getData() {
        Promise.all([getMonthData(), getRecents(), getConturiBancare()]).then(
          (data) => {
            console.log("DATE: " + data[0][0]);

            let balanta = data[0][0] - data[0][1];
            let recents = data[1];
            let conturi = data[2];

            statsBalanta.update(toMoney(balanta) + " RON");
            statsIntrari.update(toMoney(data[0][0]) + " RON");
            statsIesiri.update(toMoney(data[0][1]) + " RON");

            recentsTable.update(recents);
            contBancarTable.update(conturi);
            //  Adauga inca un rand in tabel
            addBanciEntry(conturi, contBancarTable);
          }
        );
      }

      getData();
    </script>
    <script src="{{ url_for('static', filename='js/background.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pageTransition.js') }}"></script>
  </body>
</html>
